/bin/
/target/
/.classpath
/.project
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.m2e.core.prefs

**/*.md.html
**/*.bak
**/*.swp
**/*.log
**/*.out

# Intellij
.idea
# Intellij recommends to share iml files, however, better don't share files which might be outdated
*.iml
.DS_Store
*.swp
local
.dbeaver*
.directory
venv/
target
.cache
dependency-reduced-pom.xml
.project
.classpath
pom.xml.versionsBackup
~*
*.lock
*.bak
*.orig
*.old
*.md.html
*.flattened-pom.xml