name: CI Build

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Cache local Maven repository
        uses: actions/cache@v3.0.1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-java-11-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-java-11-maven-

      - name: Cache SonarQube packages
        uses: actions/cache@v3.0.1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-java-11-sonar
          restore-keys: ${{ runner.os }}-java-11-sonar

      - name: Run tests and build with Maven
        run: mvn --batch-mode --update-snapshots clean verify -DtrimStackTrace=false
      
      - name: Publish Test Report for Java 11
        uses: scacap/action-surefire-report@v1
        if:  ${{ always() }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Sonar analysis
        run: |
          mvn --batch-mode sonar:sonar -DtrimStackTrace=false \
              -Dsonar.organization=exasol -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}